---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Redpanda Software"
	description=""
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-about.jpg"
>
	<p>
		A non-profit organization that aims to work on interesting and useful open source projects.
		Members are volunteers who are passionate about software development and continously sharpen their skills.
	</p>

</Layout>
